[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
torch = "*"
sentence-transformers = "*"
flair = "*"
krippendorff = "*"

[dev-packages]

[requires]
python_version = "3.8"
